.quiz-question-flex {
    margin-top: 1%;
}

.quiz-card {
    width: 30rem;
}

#question-image {
    display: block;
    margin: auto;
    width: 40%;
    bottom: 0;
}


.question-text {
    line-height: 1.5rem;
    height: 4rem;
}

.question-thumbnail {
    width: 20%;
}

#question-body {
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.question-content {
    margin-top: 5%;
}

.inline-icon {
    vertical-align: bottom;
    font-size: 19px !important;
}


.progress-div {
    width: 30rem;
    display: block;
    margin: 3rem auto 0 auto;
    text-align: center;
}

.shadow-lg,
.shadow {
    border-radius: 2.25em !important;
}

.quiz-card {
    border-radius: 2.25em !important;
}

.modal-body #wrapper {
    padding: 1rem;
}

.resultater-top {
    height: 8rem;
}

.resultater-top img {
    width: 70%;
    margin-top: -1.5rem;
    margin-left: 1rem;
    /* display: block; */
    /* margin: auto; */
}

.resultater-top #text {
    width: 140%;
}

.resultater-middle {
    width: 100%;
    margin-top: 1rem;
}

.resultater-middle #potensials {
    height: 10rem;
    margin-left: 1rem;
}

.resultater-middle img {
    height: 2.5rem;
}

.resultater-middle span {
    margin-left: 0.5rem;
}

.resultater-bottom {
    width: 100%;
    margin-top: 1rem;
}

.resultater-bottom #text {
    width: 11rem;
}

.resultater-bottom #img-div {
    width: 16rem;
}

.resultater-bottom img {
    width: 100%;
}

.resultater-bottom #btn {
    margin-top: 1rem;

}

.modal-backdrop {
    opacity: 0 !important;
}

#kontakt-modal .resultater-top {
    height: 10rem !important;
}

#kontakt-modal .resultater-top img {
    width: 90% !important;
}
