.progress-div {
    width: 16rem !important;
    margin: 2rem auto 0 auto !important;
}

.quiz-card {
    width: 17rem !important;
}

#question-body {
    height: 17rem !important;
}

#question-buttons {
    margin-top: 5rem !important;
}
